@model IEnumerable<Equiposmd.Models.SolicitudEquipo>
@{
    ViewData["Title"] = "Lista de contactos";
}

<style>
    .custom-form-bar {
        margin-bottom: 5px; /* Ajusta el margen inferior según sea necesario */
    }

        .custom-form-bar input,
        .custom-form-bar button {
            height: 30px; /* Ajusta la altura según sea necesario */
            font-size: 12px; /* Ajusta el tamaño de fuente según sea necesario */
        }
</style>
<div class="container mt-2">
    <div class="row justify-content-center my-2">
        <div class="col-md-4 custom-form-bar">
            <form id="formSearch" class="form-inline">
                <div class="input-group">
                    <input type="text" id="searchInput" class="form-control form-control-sm" placeholder="Buscar" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary btn-sm" onclick="searchTable()">Filtrar</button>
                    </div>
                    <button class="btn btn-secondary btn-sm" onclick="refreshData()">
                        <i class="fas fa-sync-alt"></i> Refrescar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
      

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border">
                <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                    <h3 class="m-0"><strong>Lista De Solicitud De Equipo</strong></h3>
                    <a asp-action="SolicitudEquipo" asp-controller="GestionGeneral" class="btn btn-secondary btn-sm">Nuevo Solicitud</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        @if (Model.Count() > 0)
                        {
                            <table class="table table-bordered table-striped" id="tblUsuarios" width="100%" style="table-layout: auto">
                                <thead>
                                    <tr>
                                        <th style="width: 5%">@Html.DisplayNameFor(m => m.Id)</th>
                                        <th style="width: 10%">@Html.DisplayNameFor(m => m.Areasolicitada)</th>
                                        <th style="width: 15%">@Html.DisplayNameFor(m => m.TipoEquipo)</th>
                                        <th style="width: 15%">@Html.DisplayNameFor(m => m.Procesador)</th>
                                        <th style="width: 15%">@Html.DisplayNameFor(m => m.MemoriaRam)</th>
                                        <th style="width: 20%">@Html.DisplayNameFor(m => m.DiscoDuro)</th>
                                        <th style="width: 30%">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(m => item.Id)</td>
                                            <td>@Html.DisplayFor(m => item.Areasolicitada)</td>
                                            <td>@Html.DisplayFor(m => item.TipoEquipo)</td>
                                            <td>@Html.DisplayFor(m => item.Procesador)</td>
                                            <td>@Html.DisplayFor(m => item.MemoriaRam)</td>
                                            <td>@Html.DisplayFor(m => item.DiscoDuro)</td>
                                            <td>
                                                <a class="btn btn-warning btn-sm" asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                                                <a class="btn btn-danger btn-sm" asp-action="Borrar" asp-route-id="@item.Id">Borrar</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>No hay registros</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        @section Scripts {
            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
            <script>
                // Función para manejar el evento de clic en el botón de refrescar
                function refreshData() {
                    // Recarga la página actual
                    location.reload();
                }

                // Función para manejar la búsqueda
                function searchTable() {
                    var searchText = $('#searchInput').val().toLowerCase();

                    $('#tblUsuarios tbody tr').each(function () {
                        var rowText = $(this).text().toLowerCase();
                        $(this).toggle(rowText.includes(searchText));
                    });
                }
            </script>
        }
